Cython==0.29.32
easydict==1.9
gdown==4.2.0
h5py==3.7.0
imageio==2.21.1
ipdb==0.13.9
motmetrics==1.2.5
numpy==1.23.0
onnxruntime==1.11.1
opencv_python==4.6.0.66
pandas==1.4.3
Pillow==9.2.0
PyYAML==6.0
scipy==1.9.0
setuptools==58.0.4
six==1.16.0
tensorflow==2.9.1
tensorrt==0.0.1.dev5
tflite_runtime==2.9.1
torch==1.12.0+cu116
torchvision==0.13.0+cu116
yacs==0.1.8
yolov5==6.1.8
